.spinning-text-wrapper{
    background-color: aqua;
    width: 600px;
    height: 600px;
    position: relative;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.spinngin-text{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    animation: spin 35s linear infinite;
}
.spinngin-text span{
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: 0 300px;
}

@keyframes spin {
    0%{
        transform: translate(250px);
         transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        transform: translate();
    }
}

@media (max-width : 768px) {
    .spinning-text-wrapper{
        background-color: aqua;
        width: 320px;
        height: 320px;
        margin-left: 6%;
    }

    .spinngin-text span{
        position: absolute;
        top: 0;
        left: 50%;
        transform-origin: 0px 160px;
    }

    .spinngin-text{
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        animation: spin 35s linear infinite;
    }
}